# Default ignored files
/../../../:DOE-recr-v1/.idea/shelf/
/../../../:DOE-recr-v1/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:DOE-recr-v1/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:DOE-recr-v1/.idea/dataSources/
/../../../:DOE-recr-v1/.idea/dataSources.local.xml
